/* ESTILOS QUE AFECTAN UNICAMENTE AL MAIN DEL ARCHIVO INDEX.HTML */

*{
    box-sizing: border-box;
}

.main{
    flex: 1;
}

.main__hero-section-title{
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1.8rem, 6dvw, 5rem);
    margin: 15px 10px;
    padding: clamp(5px, 1dvw, 20px);
    flex: 1.5;
    height: auto;
}

.main__hero-container{
    position: relative;
}

.main__hero-img{
    width: 100%;
    height: auto;
    opacity: 0.5;
    padding: 0;
}

.main__hero-container-text{
    position: absolute;
    top: 35%;
    width: 90%;
    transform: translateX(5%);
    text-align: center;
    font-size: clamp(1.4rem, 4dvw, 4rem);
    font-weight: bold;
    text-shadow: 2px 2px 0px #fff,-2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff,
    2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
}

.main__hero-container-button{
    position: absolute;
    left: 50%;
    top: 70%;
    width: clamp(120px, 16dvw, 300px);
    height: auto;
    font-size: clamp(1.2rem, 3dvw, 2.5rem);
    text-shadow: 2px 2px 0px #fff,-2px 2px 0 #fff, 2px -2px 0 #fff, -2px -2px 0 #fff,
    2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: #fff7;
    cursor: pointer;
}

.main__beneficios-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0;
    font-size: clamp(1rem, 2.7dvw, 3rem);
    font-weight: bold;
}

.main__beneficios-item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 5px;
}

/* SECCION DE MEDIA QUERIES */

    /* VERSION MOBILE PEQUEÑO */
@media screen and (max-width: 360px) {
    .main__hero-section-title{
        font-size: 1.6rem;
    }
    .main__hero-container-text{
        top: 30%;
        font-size: 1.3rem;
    }
    .main__hero-container-button{
        width: 110px;
        height: auto;
        font-size: 1.1rem;
    }
}
    /* VERSIONES DESKTOP */
@media screen and (min-width: 768px){
    .main__hero-section-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main__hero-container-text{
        top: 30%;
    }
    /* .main__hero-container-button{
        font-size: 2rem;
    } */
    .main__beneficios-list{
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
    .main__beneficios-item {
        gap: 10px;
    }
    #main__beneficios-boton-envio, #main__beneficios-boton-pagos, #main__beneficios-boton-cambios{
        font-size: 40px;
    }
}

@media screen and (min-width: 1280px){
    .main__beneficios-item {
        gap: 10px;
    }
    #main__beneficios-boton-envio, #main__beneficios-boton-pagos, #main__beneficios-boton-cambios{
        font-size: 50px;
    }
}