/* ESTILOS QUE AFECTAN UNICAMENTE AL MAIN DEL ARCHIVO CONTACTO.HTML */

*{
    box-sizing: border-box;
}

.main-ctc{
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px 10px;
    font-family: sans-serif;
}

.main-ctc__form{
    width: 100%;
}

.main-ctc__fieldset{
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
    margin: 20px 10px;
    font-size: 1.2rem;
    border: 4px solid #0007;
    border-radius: 10px;
}

.main-ctc__leyenda{
    font-size: 1.4rem;
    font-weight: bold;
}

.main-ctc__form-group{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.main-ctc__form-item, .main-ctc__form-selector-tipo, .main-ctc__form-textarea{
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
}

.main-ctc__form-textarea::placeholder{
    font-family: sans-serif;
}

.main-ctc__form-btn{
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 8px 0;
    width: 50%;
    margin: auto;
}

/* SECCION DE MEDIA QUERIES */

    /* VERSION MOBILE PEQUEÑO */
@media screen and (max-width: 360px) {
    .main-ctc__leyenda{
        font-size: 1.1rem;
        font-weight: bold;
    }
    .main-ctc__form-label, .main-ctc__form-item, .main-ctc__form-selector-tipo, .main-ctc__form-textarea{
        font-size: 1rem;
    }
}
    /* VERSIONES DESKTOP */
@media screen and (min-width: 768px){
    .main-ctc__form{
    max-width: 800px;
}
}

@media screen and (min-width: 1280px){
    .main-ctc__fieldset{
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
    .main-ctc__form-group--full {
        grid-column: 1 / -1;  /* ← Ocupa ambas columnas */
    }
    .main-ctc__form-btn {
        grid-column: 1 / -1;
    }
}